.uandr{
    text-align: center;
    margin: 10% 10% 0 10%;
    width: 80%;
    min-height: 100%;
}
.uandr-login{
    margin: 10% 10% 0 10%;
    width: 80%;
    min-height: 100%;
}
.hlogo{
    width: 30em;
}
h1 {
    font-size: 200px;
}