.section{
    width: 100%;
    height: 89.6vh;
    background-color: brown;
    display: flex;
    flex-flow: column wrap;
    background-image: url(https://media.istockphoto.com/vectors/cinema-pattern-seamless-background-with-symbols-of-cinema-and-films-vector-id1055864932?k=6&m=1055864932&s=170667a&w=0&h=2x4McvtDKJXcpYpjEyhYypLOKnHTZYyCbif_fLfPVJA=);
    align-items: center;
    justify-content: center;
}

.pelicula{
    width: 13%;
    height: 40vh;
    background-color: black;
    margin: 1%;
}

.pelicula img{
    width: 100%;
    max-height: 100%;
}

.pelicula img:hover{
    opacity: 60%;
}