.section{
    width: 100%;
    background-image: url(https://media.istockphoto.com/vectors/cinema-pattern-seamless-background-with-symbols-of-cinema-and-films-vector-id1055864932?k=6&m=1055864932&s=170667a&w=0&h=2x4McvtDKJXcpYpjEyhYypLOKnHTZYyCbif_fLfPVJA=);
}
.container-movies {
    display: grid;
    grid-gap: 20px;
    grid-row: 10px;
    grid-template-columns: auto auto auto auto;
    margin: 0 5% 0 5%;
    text-align: center;
    padding-top: 5%;
}
.pelicula{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
}

.pelicula h3{
    background-color: black;
    border-radius: 20px;
}

.pelicula p{
    background-color: black;
    border-radius: 20px;
}

.pelicula-img-container {
    width: 100%;
    height: 60%;
}
.pelicula img{
    width: 100%;
    height: 100%;
}

.pelicula:hover{
    opacity: 80%;
    /* box-shadow: 10px 5px 5px black; */
}
@media (min-width: 0) and (max-width: 767px) {
    .container-movies {
        grid-template-columns: auto auto auto;
    }
}
@media (min-width: 0) and (max-width: 650px) {
    .container-movies {
        grid-template-columns: auto auto ;
    }
}
@media (min-width: 0) and (max-width: 480px) {
    .container-movies {
        grid-template-columns: auto;
    }
}